body {
    background-color:rgb(90, 77, 77);
    color: white
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 4px 4px rgb(228, 139, 139);
   
}
.yl {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 1920px;
    padding: 30px;
    margin: 0px;
    text-align: left;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: black;    
}
a:hover {
    background-color: rgba(177, 171, 171, 0.548);
    width: 30px;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
.edu {
    background-color: lightgray;
}